<!-- Validation failure messages -->
<% if @recommendation.errors.any? %>
  <% @recommendation.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Recommendation #<%= @recommendation.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_recommendation/<%= @recommendation.id %>" method="post" enctype="multipart/form-data">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for recommendation -->
      <div class="form-group">
        <label for="recommendation" class="control-label">
          Recommendation
        </label>

        <input type="text" id="recommendation" name="recommendation" placeholder="Recommendation" class="form-control" value="<%= @recommendation.recommendation %>">
      </div>

      <!-- Label and input for category_id -->
      <div class="form-group">
        <label for="category_id" class="control-label">
          Category
        </label>

        <%= select_tag(:category_id, options_from_collection_for_select(Category.all, :id, :category, @recommendation.category_id), :class => "form-control") %>
      </div>

      <!-- Label and input for country_id -->
      <div class="form-group">
        <label for="country_id" class="control-label">
          Country
        </label>

        <%= select_tag(:country_id, options_from_collection_for_select(Country.all, :id, :country, @recommendation.country_id), :class => "form-control") %>
      </div>

      <!-- Label and input for city_id -->
      <div class="form-group">
        <label for="city_id" class="control-label">
          City
        </label>

        <%= select_tag(:city_id, options_from_collection_for_select(City.all, :id, :city, @recommendation.city_id), :class => "form-control") %>
      </div>

      <!-- Label and input for address -->
      <div class="form-group">
        <label for="address" class="control-label">
          Address
        </label>

        <input type="text" id="address" name="address" placeholder="Address" class="form-control" value="<%= @recommendation.address %>">
      </div>

      <!-- Label and input for good_for -->
      <div class="form-group">
        <label for="good_for" class="control-label">
          Good for
        </label>

        <input type="text" id="good_for" name="good_for" placeholder="Good for" class="form-control" value="<%= @recommendation.good_for %>">
      </div>

      <!-- Label and input for photo -->
      <div class="form-group">
        <label for="photo" class="control-label">
          Photo
        </label>

        <%= cl_image_tag(@recommendation.photo.to_s, :width => 90, :height => 90, :crop => :thumb) %>
        <input type="file" id="photo" name="photo" class="form-control">
      </div>

      
      

      <button class="btn btn-warning">
        Update Recommendation
      </button>
      or
      <a href="/recommendations/<%= @recommendation.id %>">Cancel</a>
    </form>
  </div>
</div>
