<div class="page-header">
  <h1>
    Recommendations
    <a href="/recommendations/new" class="btn btn-lg btn-success">New Recommendation</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Recommendation</th>
        <th>Category</th>
        <th>Country</th>
        <th>City</th>
        <th>Address</th>
        <th>Good for</th>
        <th>Photo</th>
        <th>User</th>
        <th>Actions</th>
      </tr>

      <% @recommendations.each do |recommendation| %>
      <tr>
        <td><%= recommendation.recommendation %></td>
        <td><%= recommendation.category_id %></td>
        <td><%= recommendation.country_id %></td>
        <td><%= recommendation.city_id %></td>
        <td><%= recommendation.address %></td>
        <td><%= recommendation.good_for %></td>
        <td><%= recommendation.photo %></td>
        <td><%= recommendation.user_id %></td>
        <td>
          <a href="/recommendations/<%= recommendation.id %>" class="btn btn-primary">Show</a>
          <a href="/recommendations/<%= recommendation.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_recommendation/<%= recommendation.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
